<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>HELVETICANEUELTSTD-BD.OTF</string>
		<string>HELVETICANEUELTSTD-BDCN.OTF</string>
		<string>HELVETICANEUELTSTD-BDCNO.OTF</string>
		<string>HELVETICANEUELTSTD-BDEX.OTF</string>
		<string>HELVETICANEUELTSTD-BDEXO.OTF</string>
		<string>HELVETICANEUELTSTD-BDOU.OTF</string>
		<string>HELVETICANEUELTSTD-BLK.OTF</string>
		<string>HELVETICANEUELTSTD-BLKCN.OTF</string>
		<string>HELVETICANEUELTSTD-BLKCNO.OTF</string>
		<string>HELVETICANEUELTSTD-BLKEX.OTF</string>
		<string>HELVETICANEUELTSTD-BLKEXO.OTF</string>
		<string>HELVETICANEUELTSTD-EX.OTF</string>
		<string>HELVETICANEUELTSTD-EXO.OTF</string>
		<string>HELVETICANEUELTSTD-HV.OTF</string>
		<string>HELVETICANEUELTSTD-HVCN.OTF</string>
		<string>HELVETICANEUELTSTD-HVCNO.OTF</string>
		<string>HELVETICANEUELTSTD-HVEX.OTF</string>
		<string>HELVETICANEUELTSTD-HVEXO.OTF</string>
		<string>HELVETICANEUELTSTD-LT.OTF</string>
		<string>HELVETICANEUELTSTD-LTCN.OTF</string>
		<string>HELVETICANEUELTSTD-LTCNO.OTF</string>
		<string>HELVETICANEUELTSTD-LTEX.OTF</string>
		<string>HELVETICANEUELTSTD-LTEXO.OTF</string>
		<string>HELVETICANEUELTSTD-TH.OTF</string>
		<string>HELVETICANEUELTSTD-THCN.OTF</string>
		<string>HELVETICANEUELTSTD-THCNO.OTF</string>
		<string>HELVETICANEUELTSTD-THEX.OTF</string>
		<string>HELVETICANEUELTSTD-THEXO.OTF</string>
		<string>HELVETICANEUELTSTD-ULTLT.OTF</string>
		<string>HELVETICANEUELTSTD-ULTLTCN.OTF</string>
		<string>HELVETICANEUELTSTD-ULTLTCNO.OTF</string>
		<string>HELVETICANEUELTSTD-ULTLTEX.OTF</string>
		<string>HELVETICANEUELTSTD-ULTLTEXO.OTF</string>
		<string>HELVETICANEUELTSTD-XBLKCN.OTF</string>
		<string>LTE50261.TTF</string>
		<string>LTE50872.TTF</string>
		<string>MyriadPro-BoldCond.otf</string>
		<string>MyriadPro-Cond.otf</string>
		<string>MyriadPro-Regular.otf</string>
		<string>MyriadPro-Semibold.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
